<div class="page-header d-md-flex justify-content-between">
    <div>
        <h3>Users</h3>
        <nav aria-label="breadcrumb" class="d-flex align-items-start">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a >Items Management</a>
                </li>
            </ol>
        </nav>
    </div>
    <div class="mt-2 mt-md-0">
        <a routerLink='/additem' class="btn btn-success" data-toggle="modal" data-target="#mdlNew" title="Add new item">Add new item</a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="user-list" class="table table-lg">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Sizes</th>
                                <th class="text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let item of items ;index as i'>
                                <td>{{i+1}}</td>
                                <td>
                                    <a href="#">
                                        <figure class="avatar avatar-sm mr-2">
                                            <img src="{{item.img}}"
                                                 class="rounded-circle" alt="avatar">
                                        </figure>
                                        {{item.name}}
                                    </a>
                                </td>
                                <td>{{item.price}} BHD</td>
                                <td>
                                   {{item.hasproducts.length}}
                                </td>
                                <td class="text-right">
                                    
                                    <!-- <a href="#" class="dropdown-item text-success">Edit</a> -->
                                            <!-- <a (click)='del(item.id)' class="del dropdown-item text-danger">Delete</a>
                                        -->
                                        <fa-icon class="close-icon" [icon]="icon" (click)='del(item.id)' ></fa-icon>
                                             
                                </td>
                            </tr>
                          
                            <tr>
                               
                                <td class="text-right">
                                    <div class="dropdown">
                                        <a href="#" data-toggle="dropdown"
                                           class="btn btn-floating"
                                           aria-haspopup="true" aria-expanded="false">
                                            <i class="ti-more-alt"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <!-- <a href="#" class="dropdown-item text-success">Edit</a> -->
                                            <a  class="dropdown-item text-danger">Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

              
<!-- <div id="mdlNew" class="" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Add new item</h6>
              
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div id="frmItem">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Item Name</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Price</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Picture</label>
                                <input type="file" palceholder="Select image" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row" for="sizes">
                        <div class="col-5">
                            <div class="form-group">
                                <label>Size Name</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Size Price</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group" style="margin-top: 17%;">
                                <a href="Javascript:void(0);" class="btn btn-success add-size">Add</a>
                                <a href="Javascript:void(0);" class="btn btn-success remove-size btn-danger">Remove</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" id="btnSaveHours" class="btn btn-primary" title="Save">Save</button>
                </div>
            </div>
        </div>
    </div>
</div> -->
